/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "reset";

.header {
  display: flex;
  margin: 0 20px;
  font-size: 15px;
  align-items: center;
  padding: 15px 0;
}

.header-logo {
  padding-right: 20px;
  font-size: 30px;
  text-decoration: none;
  color: #433f3f;
}
.header-logo:hover {
  color: #433f3f;
  text-decoration: none;
}

.lists {
  display: flex;
  align-items: center;
  list-style: none;
  margin: auto 0;
}

.list {
  padding: 0 20px;
  border-right: 1px solid black;
  text-decoration: none;
  color: #433f3f;
}
.list:hover {
  color: #433f3f;
  text-decoration: none;
}

.list-border {
  border: none;
}

.footer {
  padding: 15px 0;
  text-align: center;
  background-color: orange;
  font-size: 10px;
  vertical-align: middle;
  .lists {
    justify-content: center;
    font-size: 10px;
    .list {
      color: white;
      border-right: 1px solid white;
    }
    .list-border {
      border: none;
    }
  }
}

.copyright {
  padding-top: 15px;
  color: white;
  margin: 0;
}

.user_id {
  display: none;
}

.body {
  background-color: #f5f5f5;
  padding: 30px 0;
  display: inline-block;
  min-width: 100%;
}
.sp-nav {
  display: none;
}

@media screen and (max-width: 750px) {
  .header .lists {
    display: none;
  }
  .sp-nav {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: block;
    width: 100%;
    background: rgba(0, 0, 0, .8);
    transition: all .2s ease-in-out;
    opacity: 0;
    transform: translateY(-100%);
    ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
      li {
      margin: 0;
      padding: 0;
      list-style: none;
        .nav_list {
        display: block;
        margin: 20px 0;
        color: white;
        font-size: 17px;
        }
        .nav_list:hover {
          text-decoration: none;
          color: #CCCCCC;
        }
      }
      .close {
        position: relative;
        padding-left: 20px;
        color: white;
        text-shadow: initial;
        opacity: 1;
        font-weight: normal;
        cursor: pointer;
        span {
          font-size: 17px;
          color: white;
          display: block;
          padding: 20px 0 20px 5px;
        }
      }
      .close::before {
        content: '';
        position: absolute;
        top: 48%;
        left: 0;
        display: block;
        width: 16px;
        height: 1px;
        background: white;
        transform: rotate( 45deg );
      }
      .close::after {
        content: '';
        position: absolute;
        top: 48%;
        left: 0;
        display: block;
        width: 16px;
        height: 1px;
        background: white;
        transform: rotate( -45deg );
      }
    }
  }
  .hamburger {
    position: relative;
    width: 30px;
    height: 22px;
    margin: 0 0 0 auto;
    span {
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      width: 100%;
      height: 2px;
      background-color: #433f3f;
      transform: translateY(-50%);
    }
  }
  .hamburger:hover {
    cursor: pointer;
  }
  .hamburger::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #433f3f;
  }
  .hamburger::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 70%;
    height: 2px;
    background-color: #433f3f;
  }
  .toggle {
    transform: translateY( 0 );
    opacity: 1;
  }
}
@media screen and (max-width: 480px) {
}
