<% if model.errors.any? %>
  <div class="alert">
    <ul class="error_explanation">
      <% model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
